* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
  background-color: azure;
}
.container img {
  border-radius: 40px;
}
.container img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.movie_details {
  display: flex;
  flex-direction: column;
  width: 700px;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-around;
}

.movie_details h1 {
  padding: 10px 0;
}

.movie_details h3 {
  padding: 5px 0;
}

.booking_button {
  padding: 10px;
  border: 0.5px solid grey;
  width: 90px;
  background-color: rgb(211, 146, 122);
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 10px;
  color: white;
  position: absolute;
  margin-top: 250px;
  margin-left: 60px;
}

.cast_details_container {
  width: 100vw;
  height: 40vh;
  margin-top: 50px;
}

.cast_details_container h2 {
  margin-left: 50px;
  padding-bottom: 20px;
}

.cast_card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: rgb(238, 243, 246);
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.cast_card img {
  border-radius: 50%;
  margin-bottom: 8px;
}

.cast_details {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.footer {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}