/* body{
    text-align: center;
 
}
select{
    margin-bottom: 100px;

}

.booking_button{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color:green;
    
} */
