body {
      padding: 20px;
    }
    
    select {
      padding: 5px;
      margin-left: 10px;
    }

    .theatre {
      background: white;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
    }
    
    .show-buttons {
      margin-top: 10px;
    }
    .show-buttons button {
      margin: 5px;
      padding: 10px 15px;
      border-radius: 100px;
      background-color: #28A745;
      color: white;
    }
  .container  {
    display: flex;
    height: 20px;
    margin: 20px;
    width: 20px;
    padding: 200px;
  }
  
    




