* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: cornflowerblue;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header div {
  width: 40%;
  display: flex;
  padding-left: 40px;
  align-items: center;
}
header img {
  border-radius: 50%;
  margin-left: 20px;
}
header h2 {
  padding-left: 60px;
  margin-left: 20px;
}
header input {
  margin-right: 60px;
  width: 600px;
  padding: 5px;
  border-radius: 20px;
  border: none;
}
header button {
  width: 80px;
  padding: 5px 10px;
}
.container {
  margin-left: 100px;
  width: 60%;
}
.Language {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5vh;
  align-items: center;
}

.Language button {
  margin-left: 20px;
  padding: 3px 7px;
  border: none;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.Now_showing div img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

h2 {
  padding: 20px;
}
.Upcoming_showing div img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.movie_card {
  background-color: rgb(239, 245, 245);
  display: flex;
  height: 340px;
  width: 300px;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.movie_card h3 {
  padding-top: 15px;
}

.footer {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  header .logo-title,
  header .container {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  header input {
    max-width: 100%;
  }
}
